/* main styles */

* {
    font-family: 'Segoe UI';
}

h1 {
    font-weight: 600;
    font-size: .9em;
    background-image: linear-gradient(to right, red, blue);
    background-size: 100%;
}

p {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;  
}

bold {
    font-weight: 600;
    font-size: .8em;
    margin-bottom: 10px;
}

a {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;
}