/* main styles */

* {
    font-family: 'Segoe UI';
    min-width: 250px;
    /* max-width: 500px; */

    max-height: 300px;
    overflow: auto;
}

h1 {
    font-weight: 600;
    font-size: 1.2em;
    background-image: linear-gradient(to right, red, blue);
    background-size: 100%;
    color: white;
    text-align: center;
}

bold {
    
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10px;
}


p {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;  
}


a {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
}