/* main styles */

* {
    font-family: 'Segoe UI';
    min-width: 250px;
    /* max-width: 500px; */

    max-height: 400px;
    overflow: visible;
    background-color: #404040;
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 25px;
    top: 0px;
    background-image: linear-gradient(to right, #0015bc, red);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    color: white;
    font-family: "Segoe UI";
}

bold {
    
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10px;
}

rating {
    font-weight: 800;
    font-size: 1.3em;
    margin-bottom: 10px;
}

cite {
    font-weight: 500;
    font-size: .8em;
    margin-bottom: 10px;
}
p {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;  
}


a {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
}

article {
    text-indent: 20px;
    font-weight: 300;
    font-size: .9em;
    margin-bottom: 0px;
}

ul {
    font-size: .9em;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 0;
    list-style-type: none;
}